.dark-mode .modal-card * {
	background: var(--dark-mode-bg);
}

.dark-mode .modal-card .modal-card-title {
	color: var(--dark-mode-title-color) !important;
	font-weight: bold;
}

.dark-mode .modal-card label {
	color: var(--dark-mode-text-color) !important;
}

.dark-mode .modal-card input::placeholder,
.dark-mode .modal-card select::placeholder,
.dark-mode .modal-card textarea::placeholder {
	filter: invert(1);
}
